extends ./layout.jade

block content
    #app

block scripts
    //-
        Making the google id_token available for apps,
        until we get a better solution for auth.
    script(type='application/json', id='tokenData').
        {
            "id_token" : "#{id_token}",
            "apiToken" : "#{apiToken}",
            "config"   : !{config},
            "userEmail": "#{email}"
        }
    script(src='/static/tokenInfo.js')
    script(src='#{script}')
