extends ./layout.jade

block content
    #app

block scripts
    //-
        Making the google id_token available for apps,
        until we get a better solution for auth.
    script(type='text/javascript').
        window.id_token = '#{id_token}';
        window.apiToken = '#{apiToken}';
        window.config = !{config};
        window.userEmail = '#{email}';
    script(src='#{script}')
